/*FONTS:---------------- */

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=IM+Fell+English:ital@0;1&family=New+Tegomin&family=Yuji+Boku&display=swap');
@font-face {
    font-family: 'hello-spring';
    src:url('./webfont/Hello-Spring-Texture-FREE.ttf.woff') format('woff'),
        url('./webfont/Hello-Spring-Texture-FREE.ttf.svg#Hello-Spring-Texture-FREE') format('svg'),
        url('./webfont/Hello-Spring-Texture-FREE.ttf.eot'),
        url('./webfont/Hello-Spring-Texture-FREE.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family:"hello-spring";
  src: url('./webfont/Hello-Spring-Texture-FREE.ttf.woff');
}

:root {
  --hello-spring:'hello-spring';
  --fell-english: 'IM Fell English', serif;
  --new-tegomin:'New Tegomin', serif;
  --yuji-boku:  'Yuji Boku', serif;
  --barlow: 'Barlow', sans-serif;

}

.card-title{
  font-family:"hello-spring";
}
/*FONTS---------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shadow-1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*.shadow-1:hover{
  transform: rotateY(30deg);
  transition: transform .03s ease-in;
}*/
.top{
  z-index: 999;
}
.overflow-y-hidden{
  overflow-y: hidden;
}
.align-items-center{
  align-items: center;
}
.container{
  margin: 0;
  padding: 0;
}
.horizontal-flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*---------------------------------------------------
  |            BOOK THUMBNAIL -COMPONENT            |
  ---------------------------------------------------*/
.thumbnail-img{
 background-color: none;
 border: none;
}
.modal-header{
  border-bottom: none;
}
.book-card-image{
  height: 300px;
}
.top{
  z-index: 99;
}
.hover-shine{
  position: relative;
  overflow: hidden;
  filter: grayscale(100%);
  cursor: pointer;
}
.hover-shine:hover{
  filter: grayscale(0%);
}
.hover-shine:active{
  animation: scale .05s ease-in-out;
}
@keyframes scale {
  0% {transform: scale(.99);}
  100% {transform: scale(1);}
}
@-webkit-keyframes scale {
  0% {transform: scale(.99);}
  100% {transform: scale(1);}
}
.hover-shine::before {
  position: absolute;
  top: 0;
  left: -90%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover-shine:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }}
/*BOOK INFO MODAL*/
.gradient-bg{
  background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,1));
}
/*.modal-content{
  background-color: transparent;
  border-radius: 40px;
}*/

/*---------------------------------------------------
  |                 TO READ BOOK-PAGE                |
  ---------------------------------------------------*/

.rotate-90{
  transform: rotate(90deg);
}
.vertical-center {
  margin: auto;
}
.height100{
  height: 100%;
}
.book-image{
  height: 450px;
}
.to-read-book .title{
  font-size: 300px;
}
@media screen and (min-width: 1200px){
  .to-read-book .title{
    font-size: 80px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1199px){
  .to-read-book .title{
    font-size: 60px;
  }
}
@media screen and (max-width: 576px){
  .to-read-book .title{
    font-size: 40px;
  }
}
p {
  white-space: pre-wrap;
}
/*.hidden{
  text-overflow: ellipsis;
  white-space: nowrap; 
  height: 300px;
  overflow: hidden;
}*/
.show-text-button{
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/*---------------------------------------------------
  |                    HOME-PAGE                     |
  ---------------------------------------------------*/

.bg-stars{
  background-color: #f1eac7;
  background-image: url(./images/stars-bg-6.gif);
  background-repeat: repeat;
}
.container{
  background-color: blue;
/*  transform: translate(-50%,-50%) ;*/
  width: 300px;   height: 450px;
  border-radius: 30px;
  transition: .5s;
}

.pick-or-die{
  color: white;
  font-family: var(--yuji-boku);
}

.cimg{
  backface-visibility: hidden; 
  transform: perspective(1000px) rotateY(0deg);
  transition: .5s;
}
.cback{
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: .5s;
}

/*card on hover*/
.card-wrapper:hover .cback{
    transform: perspective(1000px) rotateY(0);
}
.card-wrapper:hover .cimg{
    transform: perspective(1000px) rotateY(180deg);
}

/*--------------card texts--------------------*/

.card-link{
  font-family: var(--yuji-boku);
  color: white;
  background-color: black;
  clip-path: polygon(23% 20%, 81% 19%, 75% 52%, 81% 83%, 23% 83%, 29% 52%);
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 5px;
}
.card-link:hover{
  letter-spacing: 2px;
  text-transform: uppercase;
/*  font-weight: bold;*/
  color: white;
  margin-top: 0px;
  transition:all .3s ease-in-out;
}
.card-number{
  clip-path: circle(20.1% at 51% 0);
  background-color: black;
/*  height: 70px;width: 70px;*/
  font-family: var(--new-tegomin);
  color: white;
}
.card-title-l{
  font-family: var(--hello-spring);
  letter-spacing: 2px;
  font-size: 45px;
}
.card-title-s{
  font-family: var(--yuji-boku);
  margin-top: -15px;
}
.featured-text{
  font-family: var(--fell-english);
  padding-left: 18px;padding-right: 18px;
}
@media screen and (min-width: 993px){
  .featured-text{
    font-size:30px ;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .featured-text{
    font-size:25px ;
  }
}
.card-subtitle{
  font-family: var(--barlow);
  font-size: 12px;
  line-height: 80%;
}
@media screen and (min-width: 992px){
  .card-subtitle{
    font-family: var(--barlow);
    font-size: 14px;
    line-height: 80%;
    margin-left: 10px; margin-right: 10px;
  }
}
/*card responsive size*/
@media screen and (min-width: 993px){
  .card{
    border: none;
    width: 220px;   height: 350px; 
    cursor: pointer;
  }
}
@media screen and (min-width: 723px) and (max-width: 992px){
  .card{
    border: none;
    width:190px;   height:302px; 
    cursor: pointer;
  }
}
@media screen and (max-width: 722px){
  .card{
    border: none;
    width:170px;   height:270px; 
    cursor: pointer;
  } 
}


/*TRIAL ON CLICK ANIMATON---------------*/
.card-wrapper[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*---------------------------------------------------
  |                 BOOK SEARCH-PAGE                |
  ---------------------------------------------------*/
.search-bar{
  border: 1px solid black;
  border-radius: 50px;
}
.search-bar:focus{
  border: 2px solid red;
}
.search-bar img{
  cursor: pointer;
}
.search-bar input{
  border: none;
}
.search-bar input:focus{
  outline: none;
}
/*---------------------------------------------------
  |             NAVIGATION BAR-COMPONENT            |
  ---------------------------------------------------*/
.reader-text{
  font-size: 15px;
  letter-spacing: 10px;
  padding-top: 0px;
  opacity: 0;
  text-align: center;
  transform: translateY(-10px);
}
.nav-logo{
  height: 60px;
  margin-top: 20px;
}
.logo{
  top: 10px;
  height:50px;
  margin-top: 20px;
}
.letter-m{
  transform: translateX(50px);
  opacity: 0;
}
.letter-o{
  transform: translateX(-25px);
  opacity: 0;
}
.letter-n{
  transform: translateX(-75px);
  opacity: 0;
}
.moon-logo{
  top: 15px; height:50px;
  opacity: 0;
  transform: rotate(20deg);
  z-index: 999;
}
.moon{
  position: absolute;
  height: 100px;
  opacity: 1;
  transform: rotate(20deg);
  align-self: center !important;
  z-index: 1000;
}
.rotation{
  position: absolute;
  height: 100px;
  opacity: 1;
  align-self: center !important;
  z-index: 1000;
  animation: rotate360 20s ease infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------------hover animations-------------*/

.logo-container:hover .moon{
  animation: moon-hover 0.7s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes moon-hover {
  90% {
    margin-top:-20px;
    margin-left:-15px;
    height: 80px;
    transform: rotate(0deg);
    opacity:1;
  }
  100% {
    margin-top:-20px;
    margin-left:-15px;
    height: 80px;
    transform: rotate(0deg);
    opacity:1;
  }
}
.logo-container:hover .rotation{
    opacity: 0;
    transition: opacity 0.5s  ease-in-out;
}
/*.logo-container:hover .moon-logo{
    transform: rotate(10deg);
    opacity: 1;
    transition: all 0.3s  ease-in-out;
}*/
.logo-container:hover .letter-m{
    transform: translateX(0px);
    opacity: 1;
    transition: transform 0.5s  ease-in-out;
}
.logo-container:hover .letter-o{
    transform: translateX(0px);
    opacity: 1;
    transition: transform 0.5s  ease-in-out;
}
.logo-container:hover .letter-n{
    transform: translateX(0px);
    opacity: 1;
    transition: transform 0.5s  ease-in-out;
}
.logo-container:hover .reader-text{
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.6s  ease-in-out;
}

/*---------------------------------------------------
  |                  ABOUT -PAGE                     |
  ---------------------------------------------------*/
.about-qoute{
  color: white;
}
.about-description{
  color: white;
}
.side-images-bg{
  background-image: url(./images/plants.png);
  background-size: 20vw;
  background-repeat: repeat-x;
  background-position: right botton;
 }
.first-section-container{
  background-color: #f1eac7;
  background-image: url(./images/stars-bg-6.gif);
  background-repeat: repeat;
}
.fish-big{
  left:-50vw; top: 40vh;
  width: 40vw;
  position: absolute;
  animation: travel linear 20s infinite ;
  animation-delay: 5s;
}
.fish-small{
  left:150vw; top: 40vh;
  width: 20vw;
  position: absolute;
  animation: travel linear 20s infinite reverse;
}
@keyframes travel {
  0% {
    left:-50vw ;
  }
  100% {
    left:150vw ;
  }
}

.section2-moon{
  font-family: var(--fell-english);
  color: white;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  margin-left: 130px;
}

.third-section-container{
  background-color: black;
  color: white;
  font-family: var(--new-tegomin);
}




/*---------------------------------------------------------*/
@media screen and (min-width: 992px){
  .center-image{
    width: 50vw;
  } 
  .side-images{
    width: 35vw;
  }
  .qoute{
    font-family: var(--yuji-boku);
    color: white;
    font-size: 50px;
    width: 30vw;
  }
  .moon-container{
    height: 40vh;
  }
  .section2-moon-responsiveness{
  margin-top: 130px;
  height: 300px; width: 300px;
  font-size: 30px; 
  }
  .section2-description{
    font-size: 28px;
    font-family: var(--fell-english);
    color: black;
    margin-top: 45vw; margin-left: 150px;
  }

}
@media screen and (min-width: 576px) and (max-width: 991px){
  .center-image{
    width: 50vw;
  } 
  .side-images{
    width: 35vw;
  }
  .qoute{
    font-family: var(--yuji-boku);
    color: white;
    font-size: 30px;
    width: 30vw;
  }
  .moon-container{
    height: 40vh;
  }
  .section2-moon-responsiveness{
  margin-top: 10vw;
  height: 220px; width: 220px;
  font-size: 22px; 
  }
  .section2-description{
    font-size: 18px;
    font-family: var(--fell-english);
    color: black;
    margin-top: 50vw; margin-left: 170px;
  }
}
  @media screen and (max-width: 575px){
    .center-image{
      width: 100vw;
    } 
    .side-images{
      display: none;
    }
    .moon-container{
      height: 40vh;
    }

}
@media screen and (min-width: 322px) and (max-width: 575px){
  .qoute{
    font-family: var(--yuji-boku);
    color: white;
    font-size: 30px;
    width: 50vw;
  }
  .section2-moon-responsiveness{
  margin-top: 20vw;
  height: 190px; 
  width: 190px;
  font-size: 20px; 
  }
  .section2-description{
    font-size: 15px;
    font-family: var(--fell-english);
    color: black;
    margin-top: 80vw; margin-left: 90px;
  }
}
@media screen and (max-width: 321px){
  .qoute{
    font-family: var(--yuji-boku);
    color: white;
    font-size: 25px;
    width: 50vw;
  }
  .section2-moon-responsiveness{
  margin-top: 10vw;
  height: 120px; 
  width: 120px;
  font-size: 15px; 
  }
  .section2-description{
    font-size: 14px;
    font-family: var(--fell-english);
    color: black;
    margin-top: 60vw; margin-left: 90px;
  }
}